In [ ]:
import ssl
import sys
import psycopg2
from sqlalchemy import create_engine
import paho.mqtt.client
import json

In [ ]:
host='lallah.db.elephantsql.com'
user ='yirsxctz'
password='AS3sYxp2fpRwAczZa1OZpIzI4etWHM6n'
dbname='yirsxctz'

In [ ]:
def select(query):
    cur = myConnection.cursor()
    try:
        cur.execute(query)
    except Exception as e:
        myConnection.commit()
        print('Error en el query:', e)
    else:
        records = cur.fetchall()
        cur.close()
        return records
    
def insert(query):
    cur = myConnection.cursor()
    cur.execute(query)
    cur.close()
    myConnection.commit()

In [ ]:
myConnection = psycopg2.connect(host = host,
                                user= user, password =password,
                                dbname= dbname)

In [ ]:
query = '''CREATE TABLE IF NOT EXIST categoria_producto(
            ID_categoria_producto serial primary key,
            nombre VARCHAR(255) not null
            )
'''
insert(query)

In [ ]:
query = '''CREATE TABLE IF NOT EXIST  producto (
           ID_producto serial primary key,
           nombre VARCHAR(255) not null,
           ID_categoria_producto int not null,
           foreign key(ID_categoria_producto)
           references categoria_producto(ID_categoria_producto));
           '''
insert(query)

In [ ]:
query = '''CREATE TABLE IF NOT EXIST tienda(
    ID_tienda serial primary key,
    nombre VARCHAR(255) not null unique,
    direccion VARCHAR(255) not null unique,
    RIF VARCHAR(255) not null unique,
    maximo_clientes INT not null
);'''
insert(query)

In [ ]:
query = """create table if not exists cliente (
           ID_cliente serial PRIMARY KEY,
           cedula INT NOT NULL,
           nombre varchar(255) NOT NULL,
           apellido varchar(255) NOT NULL,
           direccion varchar(255) NOT NULL,
           telefono INT NOT NULL);"""
insert(query)

In [ ]:
query = """create table if not exists estante (
           ID_estante serial PRIMARY KEY,
           ID_tienda INT NOT NULL,
           foreign key (ID_tienda) references tienda);"""
insert(query)

In [ ]:
query = """create table if not exists cuenta_bancaria (
           ID_cuenta_bancaria serial PRIMARY KEY,
           numero_cuenta INT NOT NULL,
           banco varchar(255) NOT NULL,
           ID_tienda INT NOT NULL,
           saldo INT NOT NULL,
           foreign key (ID_tienda) references tienda);"""
insert(query)

In [ ]:
query = '''create table if not exists productoxestante (
           ID_producto INT NOT NULL,
           cantidad_maxima_producto int not null,
           ID_estante INT NOT NULL,
           ID_productoxestante serial primary key not null,
           foreign key (ID_producto) references producto,
           foreign key (ID_estante) references estante);'''
insert(query)

In [ ]:
query = """create table if not exists cambio_precio_producto (
ID_cambio_precio_producto serial PRIMARY KEY,
ID_producto INT NOT NULL,
precio INT NOT NULL,
fecha TIMESTAMP NOT NULL,
foreign key (ID_producto) references producto);"""
insert(query)

In [ ]:
query = """create table if not exists factura (
ID_factura serial PRIMARY KEY,
ID_cliente INT NOT NULL,
ID_tienda INT NOT NULL,
fecha TIMESTAMP NOT NULL,
subtotal INT NOT NULL,
total INT NOT NULL,
foreign key (ID_cliente) references cliente,
foreign key (ID_tienda) references tienda);"""
insert(query)

In [ ]:
query = """create table if not exists compra (
ID_compra serial PRIMARY KEY,
ID_factura INT NOT NULL,
ID_producto INT NOT NULL,
cantidad_producto INT NOT NULL,
ID_cambio_precio_producto INT NOT NULL,
foreign key (ID_factura) references factura,
foreign key (ID_producto) references producto,
foreign key (ID_cambio_precio_producto) references cambio_precio_producto);"""
insert(query)

In [ ]:
query = """create table if not exists producto_disponiblexestante (
ID_producto_disponiblexestante serial PRIMARY KEY,
ID_productoxestante INT NOT NULL,
cantidad_disponible_producto INT NOT NULL,
fecha TIMESTAMP NOT NULL,
foreign key (ID_productoxestante) references productoxestante(ID_productoxestante));"""
insert(query)

In [ ]:
query = """create table if not exists cambio_puntos_cliente (
ID_cambio_puntos_cliente serial PRIMARY KEY,
ID_cliente INT NOT NULL,
puntos INT NOT NULL,
fecha TIMESTAMP NOT NULL,
foreign key (ID_cliente) references cliente);"""
insert(query)

In [ ]:
query = """create table if not exists visitas_conocidas (
ID_visitas_conocidas serial PRIMARY KEY,
ID_cliente INT NOT NULL,
ID_tienda INT NOT NULL,
puntos INT NOT NULL,
fecha TIMESTAMP NOT NULL,
foreign key (ID_cliente) references cliente,
foreign key (ID_tienda) references tienda);"""
insert(query)

In [ ]:
query = """create table if not exists pago (
ID_pago serial PRIMARY KEY,
referencia_bancaria varchar(20) NOT NULL,
ID_cliente INT NOT NULL,
banco INT NOT NULL,
monto INT NOT NULL,
ID_factura INT NOT NULL,
fecha TIMESTAMP NOT NULL,
foreign key (ID_cliente) references cliente,
foreign key (ID_factura) references factura);"""
insert(query)